mei-titlestmt > mei-title {
   	margin-top: 30px;
	font-family: Garamond, serif;
	font-weight: bold;
	font-style: italic; 
	display: block;
	margin-bottom: 15px;
	font-size: 50px;
	
    }

mei-titlestmt > mei-composer {
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
	
    }

mei-titlestmt > mei-composer::before {
	content: "Composer:";
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
	font-size: 25px;
    }  

mei-titlestmt > mei-album {
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
		font-size: 20px;
	
    }
mei-titlestmt > mei-album::before {
	content: "Album:";
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
	font-size: 25px;
    }  


mei-titlestmt >  mei-respstmt > mei-resp {
	display:block;
	font-family: Times New Roman;
	font-weight:bold;
	font-style: italic;
	font-size: 25px;
	  }
	  

mei-pubstmt > mei-publisher {
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
	
    }
mei-pubstmt > mei-publisher::before {
	content: "Published by:";
	text-transform: uppercase;
	font-family: Times New Roman;
	font-size: 12px;
	display:block;
	font-size: 25px;
	margin-top: 15px;
	  }
mei-pubstmt > mei-date {
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
	
    }

mei-pubstmt > mei-date::before {
	content: "Date encoded:";
	text-transform: uppercase;
	font-family: Times New Roman;
	font-size: 12px;
	display:block;
	font-size: 25px;
	  }


mei-encodingdesc {
	display:none;
	  }

mei-worklist > mei-work > mei-creation > mei-country {
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
	
    }  
mei-worklist > mei-work > mei-creation > mei-country::before {
	content: "Country of origin";
	text-transform: uppercase;
	font-family: Times New Roman;
	font-size: 12px;
	display:block;
	font-size: 25px;
	  }

mei-worklist > mei-work > mei-creation > mei-date {
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
	
    }  
mei-worklist > mei-work > mei-creation > mei-date::before {
	content: "Date composed:";
	text-transform: uppercase;
	font-family: Times New Roman;
	font-size: 12px;
	display:block;
	font-size: 25px;
	  }
	 
